.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height:400px;
    border: 2px solid blue;
    border-radius: 5%;
    background-color: rgb(90, 96, 255);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form>div{
    display: flex;
    flex-direction: column;
    width: 60%;
}

button {
    width: 30%;
    height: 40px;
    border: 2px solid black;
    border-radius: 8%;
    background-color: rgb(232, 238, 236);
    margin-top: 10px;
}



.ng-invalid:not(form)  {
  border-bottom: 3px solid #a94442;
}