/* Tema oscuro */
body.dark-mode, table{
  background-color: #121212;
  color: #f1f1f1;
}

.container {
    padding: 1.5rem;
    width: 100%;
}





footer {
    background-color: #121212;
    height: 60px;
    line-height: 60px;
    position:fixed;
    bottom:0px;
    width:100%;
    z-index: 1000;
}
